<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Zermero Hand Sanitizer
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content  class="theme_background">
 <img src="assets/img/zermero-promotion.jpg"/>
    <div class="c_sign_wrap" padding>
   
      <ion-card style="background: #fff;" >
        <ion-card-content>
          <div class="c_sign_form">
           
            <div *ngIf="loading" style="text-align:center;">{{loading_message}}</div>
            <p>Make Order</p>
            <div class="c_row">
              <label>Quantity</label>
              <input class="c_sign_input" (keyup)="changeQty($event)" [(ngModel)]="quantity" placeholder="Enter Quantity">
            </div>
            <div class="c_row">
              <label>Rate {{loading_message}}</label>
              <input class="c_sign_input" [(ngModel)]="rate" readonly placeholder="Rate">              
            </div>
            <div class="c_row">
              <label>MRP {{loading_message}}</label>
              <input class="c_sign_input" [(ngModel)]="mrp" readonly placeholder="MRP">              
            </div>
            <div class="c_row">
              <label>Discount(%) {{loading_message}}</label>
              <input class="c_sign_input" [(ngModel)]="discount" readonly placeholder="Discount">              
            </div>
            <div class="c_row">
              <label>Amount {{loading_message}}</label>
              <input class="c_sign_input" [(ngModel)]="amount" readonly placeholder="Amount">              
            </div>
            <div class="c_row">
              <label>Delivery Date {{loading_message}}</label>
              <input class="c_sign_input" [(ngModel)] ="delivery_date" readonly placeholder="Delivery Date">
            </div>
            <p>Personal Details</p>
            <div class="c_row">
              <label>Full Name</label>
              <input class="c_sign_input" [(ngModel)]="full_name" placeholder="Full Name">
            </div>

            <div class="c_row">
              <label>Mobile No</label>
              <input class="c_sign_input" [(ngModel)]="phone" placeholder="Mobile">
            </div>
            <div class="c_row">
              <label>Email Id</label>
              <input class="c_sign_input" [(ngModel)]="email" placeholder="Email">
            </div>
            <div class="c_row">
              <label>City</label>
              <input class="c_sign_input" [(ngModel)]="city" placeholder="City">
            </div>
            <div class="c_row">
              <label>State</label>
              <select class="c_sign_input" [(ngModel)]="state">
                <option value="">Select State</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi">Delhi</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kenmore">Kenmore</option>
                <option value="Kerala">Kerala</option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Narora">Narora</option>
                <option value="Natwar">Natwar</option>
                <option value="Odisha">Odisha</option>
                <option value="Paschim Medinipur">Paschim Medinipur</option>
                <option value="Pondicherry">Pondicherry</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="Vaishali">Vaishali</option>
                <option value="West Bengal">West Bengal</option>
              </select>
              
            </div>
           
            <div>
              <ion-list>
                <ion-radio-group [(ngModel)]="pay_method">
                  <ion-item>
                    <ion-label>Online Payment(Debit/Credit Card)</ion-label>
                    <ion-radio value="0" checked="true"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Offline Payment(Through bank transfer)</ion-label>
                    <ion-radio value="1"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
            <div *ngIf="pay_method==0">
              Note: We are taking 50% payment of the booking amount as advance to confirm your order.
            </div>
            <div *ngIf="pay_method==1">
              Note: Kindly transfer 50% of the booking amount as advance to confirm your order in our Bank Account within 24 hours of order booking after that your order will be Cancelled Automatically.<br/><br/>
              Name: Solace biotech limited <br/>
              Location: ICICI BANK, AMBALA CANTT<br/>
              A/c NO.:  049805001870<br/>
              IFSC: ICIC0000498<br/>
            </div>
            <div class="c_row">
              <button type="button" (click)="order()" ion-button class="c_register_button">Submit Order</button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  
</ion-content>