<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Notification
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <ion-list>
    <ion-item default-item lines="none" >
        <ion-icon name="notifications-outline"></ion-icon>
      <ion-label padding-start>
        <h3 text-size-md text-color-primary font-bold text-wrap>{{notification.heading}}</h3>
        <h3 text-size-sm text-color-secondary font-regular text-wrap>{{notification.created}}</h3>
        <p text-size-p text-color-secondary font-regular padding-top text-wrap>{{notification.content}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>