<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Right To Choose 50 (RTC50) Contest 
    </div>    
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <select class="c_select_business" [(ngModel)]="date">
          <ng-container *ngFor="let md of monthsdata">
          <option [value]='md.date' >{{md.month_name}}</option>
        </ng-container>
        </select>
      </ion-col>
      <ion-col size="4">
        <button ion-button (click)="getmonthwise()" class="c_login_button refresh_btn block">View Details</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="item" *ngIf="position">
      <ion-col size="3" text-center>
        #
      </ion-col>
      <ion-col size="5" text-center>
       Details
      </ion-col>
     
      <ion-col size="4" text-center>
        Action
      </ion-col>
    </ion-row>
    <ion-row  class="item">
      <ion-col size="3" text-center>
        RTC50
      </ion-col>
      <ion-col size="5">       
        <p><b>Points:</b> {{position}}</p>
        <p><b>Outstanding:</b> {{outstanding}}</p>
      </ion-col>
      <ion-col size="4" text-center>
        <ion-badge *ngIf="status == 1 && submitted == 0" color="primary" (click)="clubformSubmit(list)">Submit <br/>Claim Form</ion-badge>
        <ion-badge *ngIf="status == 1 && submitted == 1" color="success" >Applied</ion-badge>
        <ion-badge *ngIf="status == 0" color="danger" >Not Eligible</ion-badge>     
      </ion-col> 
    </ion-row>
    <ion-row *ngIf="position == 0">
      No Record Found
    </ion-row>
  </ion-grid>
</ion-content>