<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      JFC Summary
    </div>      
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding>
  <div class="wrapper">
      <ion-grid>
        <ion-row class="item">
          <ion-col size="12">
            <b>Product Details:-</b>
          </ion-col>       
        </ion-row>
        <ion-row class="item">
          <ion-col size="6">
            Product Name
          </ion-col>
          <ion-col size="6">
            {{product_name}}
          </ion-col>
        </ion-row>
        <ion-row class="item">
          <ion-col size="6">
            Brand Name
          </ion-col>
          <ion-col size="6">
            {{brand_name}}
          </ion-col>
        </ion-row>
        <ion-row class="item">
          <ion-col size="6">
            Quantity
          </ion-col>
          <ion-col size="6">
            {{quantity}}
          </ion-col>
        </ion-row>
        <ion-row class="item">
          <ion-col size="6">
            Order Value
          </ion-col>
          <ion-col size="6">
            Rs.{{order_value}}
          </ion-col>
        </ion-row>
        <ion-row class="item">
          <ion-col size="12">
            <p>&nbsp;</p>
            <b>Tracking:-</b>
          </ion-col>       
        </ion-row>
      </ion-grid>
    
    <ul class="StepProgress">
      <li class="StepProgress-item {{ artworkstatus == 1 ? 'is-done' : ''}}" *ngIf="artworkmessages.length != 0"><strong>Artwork</strong>
        <ol type="a">
          <li *ngFor="let artworkmessage of artworkmessages;let i = index">
            {{artworkmessage.message}}
          </li>
        </ol>
      </li>
      <li class="StepProgress-item {{ ppmstatus == 1 ? 'is-done' : ''}}" *ngIf="ppmmessages.length != 0"><strong>PPM</strong>
        <ol type="a">
          <li *ngFor="let ppmmessage of ppmmessages;let i = index">
            {{ppmmessage.message}}
          </li>
        </ol>
      </li>
      <li class="StepProgress-item {{ apistatus == 1 ? 'is-done' : ''}}" *ngIf="apimessages.length != 0"><strong>API</strong>
        <ol type="a">
          <li *ngFor="let apimessage of apimessages;let i = index">
            {{apimessage.message}}
          </li>
        </ol>
      </li>
      <li class="StepProgress-item {{ exicipentstatus == 1 ? 'is-done' : ''}}" *ngIf="exicipentsmessages.length != 0"><strong>Exicipents</strong>
        <ol type="a">
          <li *ngFor="let exicipentsmessage of exicipentsmessages;let i = index">
            {{exicipentsmessage.message}}
          </li>
        </ol>
      </li>
      <li class="StepProgress-item {{ distributionstatus == 1 ? 'is-done' : ''}}" *ngIf="distributionsmessages.length != 0"><strong>Distribution</strong>
        <ol type="a">
          <li *ngFor="let distributionsmessage of distributionsmessages;let i = index">
            {{distributionsmessage.message}}
          </li>
        </ol>
      </li>
      <li class="StepProgress-item {{ postatus == 1 ? 'is-done' : ''}}" *ngIf="posmessages.length != 0"><strong>PO</strong>
        <ol type="a">
          <li *ngFor="let posmessage of posmessages;let i = index">
            {{posmessage.message}}
          </li>
        </ol>
      </li>
    </ul>
    </div>
</ion-content>
    