<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Checkout
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <p class="order_hit" *ngIf="orderConfirm">Thank you. Your order is confirmed. We will contact you soon...</p>
  <div>
    <ion-grid>
      <ion-row class="item">
        <ion-col size="1">
          #
        </ion-col>
        <ion-col size="2">
          Name
        </ion-col>
        <ion-col size="2">
          Price
        </ion-col>
        <ion-col class="qty" size="1" text-center>
         Discount
        </ion-col>
        <ion-col size="2">
          Qty
        </ion-col>
         <ion-col size="1">
          GST
        </ion-col>
        <ion-col size="2">
          Total
        </ion-col> 
      </ion-row>
      <ion-row *ngFor="let cart of newcarts;let i = index;" class="item">
        <ion-col size="1">
          {{ i+1 }}.
        </ion-col>
        <ion-col size="2">
          {{ cart.name }}
        </ion-col>
        <ion-col class="qty" size="2" text-center>
          ₹{{cart.price}}
        </ion-col>
        <ion-col class="qty" size="1" text-center>
          {{cart.discount}}%
        </ion-col>
        <ion-col class="qty" size="2" text-center>
          {{cart.count}}
        </ion-col>
        <ion-col class="qty" size="2" text-center>
          {{cart.gst}}%
        </ion-col>
        <ion-col size="2">
          ₹{{ fixVal(cart.subtotal1) }}
        </ion-col> 
      </ion-row>
      <ion-row class="item highlight_item">
        <ion-col size="6">
          Sub Total
        </ion-col>
        <ion-col size="6" class="text-left">
          : ₹{{ fixVal(subtotal) }}
        </ion-col>
      </ion-row>
    
      <ion-row class="item highlight_item">
        <ion-col size="6">
          Total Discount
        </ion-col>
        <ion-col size="6" class="text-left">
          : ₹{{ fixVal(totaldiscount) }}
        </ion-col>
      </ion-row>
      <ion-row class="item highlight_item">
        <ion-col size="6">
          Total GST
        </ion-col>
        <ion-col size="6" class="text-left">
          : ₹{{ fixVal(totalGST) }}
        </ion-col>
      </ion-row>
      
      <ion-row class="item highlight_item">
        <ion-col size="6">
          Grand Total
        </ion-col>
        <ion-col size="6" class="text-left">
          : ₹{{ fixVal(grandTotal) }}
        </ion-col>
      </ion-row>
     
    </ion-grid>

  </div>
  <ion-list>
    <ion-item>
      <select class="c_select_business" [(ngModel)]="courier">
        <option value="">Select transport or Courier</option>
        <option value="DTDC">DTDC</option>
        <option value="Proffesional">Proffesional</option>
        <option value="Maa Annapurna Transport">Maa Annapurna Transport</option>
        <option value="Trackon Courier">Trackon Courier</option>
        <option value="Overnite">Overnite</option>
        <option value="Vrl Logitics">Vrl Logitics</option>
        <option value="On Dot Courier">On Dot Courier</option>
        <option value="Shree Azad Transport">Shree Azad Transport</option>
        <option value="Other">Other</option>
      </select>
    </ion-item>
    <ion-item>
      <textarea rows="5" class="c_area_business" [(ngModel)]="note" placeholder="Note"></textarea>
    </ion-item>
  </ion-list>
  <div *ngIf="carts?.length > 0">
    <button ion-button (click)="checkout()" class="c_login_button refresh_btn c_login_center block">Confirm
      Order</button>
  </div>
  

<div padding>
    <h4>Accounts at a Glance</h4>
    <hr/>
    <ion-grid>
      <ion-row class="item highlight_item">
        <ion-col size="6">
          Out Standing
        </ion-col>
        <ion-col size="6" class="text-left">
          : ₹{{ outstanding }}
        </ion-col>
      </ion-row>
      <ion-row class="item highlight_item">
        <ion-col size="6">
          Over Due
        </ion-col>
        <ion-col size="6" class="text-left">
          : ₹{{ overdue }}
        </ion-col>
      </ion-row>
    </ion-grid>
    <p>
      Kindly make the payment on early basis or call +91 9812023354 for any clarifications. Please ignore this message if already paid. Regards"
    </p>
  </div>
</ion-content>