<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Club Form List
    </div>
    <button ion-button class="nav_btn floatRight" (click)="opencart()">
      <ion-badge class="top_cart_icon">{{cartCount}}</ion-badge>
      <ion-icon class="myicon" name="cart"></ion-icon>
    </button>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <div class="c_business_listing">
    <div *ngIf="loading" style="text-align:center;">{{loading_message}}</div>
    <ul>
      <li (click)="clubform1()">
        <div class="c_list_circle">
        </div>
        <div class="c_list_details width75">
          <h5>Navratna/Panchratna Claim Form Submission</h5>
        </div>
        <div class="clear"></div>
      </li>
      <li (click)="clubform2()">
        <div class="c_list_circle">
        </div>
        <div class="c_list_details width75">
          <h5>Navratana Solmate Profit Addition App (PAA)</h5>
        </div>
        <div class="clear"></div>
      </li>
    <li (click)="clubform3()">
        <div class="c_list_circle">
        </div>
        <div class="c_list_details width75">
          <h5>MGF9 Profit Addition App (PAA)</h5>
        </div>
        <div class="clear"></div>
        </li>
        <li (click)="clubform4()">
          <div class="c_list_circle">
          </div>
          <div class="c_list_details width75">
            <h5>Profit Enhancing Aristocrat Kingdom (PEAK)</h5>
          </div>
          <div class="clear"></div>         
        </li>
      <li (click)="clubform5()">
        <div class="c_list_circle">
        </div>
        <div class="c_list_details width75">
          <h5>Right To Choose 50 (RTC50) Contest </h5>
        </div>
        <div class="clear"></div>
      </li>
    </ul>
  </div>
</ion-content>