<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Add Referral
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding class="theme_background">
  <form [formGroup]="addReferralForm" (ngSubmit)="onSubmit(addReferralForm)">
    <div class="c_sign_wrap">
      <div class="c_reg_banner">
        <img src="assets/img/solace-logo.png">
      </div>
      <div class="c_sign_form">
          <div *ngIf="loading" style="text-align:center;">{{loading_message}}</div>
        <div class="c_row">
          <input class="c_sign_input" formControlName="full_name" placeholder="Name">
          <div *ngIf="submitted && f.full_name?.errors" class="invalid-feedback">
            <div *ngIf="f.full_name?.errors.required">Name is required</div>
          </div>
        </div>

        <div class="c_row">
          <input class="c_sign_input" formControlName="email" placeholder="Email">
          <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
            <div *ngIf="f.email?.errors.required">Email is required</div>
          </div>
          <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
            <div *ngIf="f.email?.errors.pattern">Email in Invalid</div>
          </div>
        </div>

        <div class="c_row">
          <input class="c_sign_input" formControlName="mobile" placeholder="Mobile">
          <div *ngIf="submitted && f.mobile?.errors" class="invalid-feedback">
            <div *ngIf="f.mobile?.errors.required">Mobile is required</div>
          </div>
        </div>



        <div class="c_row">
          <button type="submit" ion-button class="c_register_button">Submit</button>
        </div>
      </div>
    </div>
  </form>

</ion-content>