<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Help You Deal
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <img src="../assets/img/Help-You-Deal-Campaign.jpg"/>
  <div padding>
    <div *ngIf="loading" style="text-align:center;">{{loading_message}}</div>
    <h2 style="color:black;text-align:center;">Help You Deal</h2>
    <div class="c_new_branch">
    <ul>
      <li *ngFor="let productlist of productLists;let i = index">
        <div class="c_branch_overview" [ngClass]="{active: isGroupShown(productlist.id)}">
          <div class="child1 floatLeft">
            <p><strong>{{productlist.productName}}</strong></p>        
          </div>
          <div class="child1 floatLeft" text-right>
            <ion-badge color="primary" *ngIf="!productlist.offerflag">{{productlist.franchisePrice}}</ion-badge>
            <ion-badge color="danger"><span style="text-decoration:line-through;" *ngIf="productlist.offerflag">{{productlist.franchisePrice}}</span></ion-badge>
            <ion-badge color="primary" *ngIf="productlist.offerflag">{{productlist.new_price}} Per Inj.</ion-badge>
          </div>
          <p>Packing: {{productlist.packing}}</p>
          <div class="clear"></div>
          <p *ngIf ="productlist.status.toLowerCase() != 'available'" style="color:red;">Note: {{productlist.comment}}</p>
          <ion-grid *ngIf ="productlist.status.toLowerCase() == 'available'">
            <ion-row padding->
              <ion-col size="2">
                Qty
              </ion-col>
              <ion-col class="qty" size="6" text-center>
                <button (click)="decreaseProductCount(i)" class="c_add_btn" ion-button color="light">
                  -
                </button>

                <input type="number" (keyup)="changeQty($event,i)" class="qty_btn" [value]="productlist.tmp">

                <button (click)="incrementProductCount(i)" class="c_add_btn" ion-button color="light">
                  +
                </button>
              </ion-col>
              <ion-col size="4">
                <button ion-button class="c_line_btn" (click)="addToCart(productlist,i)">{{productlist.btnname}}</button>
              </ion-col>
            </ion-row>
          </ion-grid>   
          <ion-badge color="secondary" (click)="toggleGroup(productlist.id)">View Details</ion-badge>      
          <div class="clear"></div>
        </div> 
        <div class="c_branch_details" *ngIf="isGroupShown(productlist.id)">
          <p><strong>{{productlist.productName}}</strong></p>
          <div class="">
            <table class="table_product_ist">
              <tr>
                <td>Brand Division</td>
                <td>: {{ brandName }}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>: {{productlist.status}}</td>
              </tr>
              <tr *ngIf ="productlist.status.toLowerCase() != 'available'">
                <td>Expected Date</td>
                <td style="color:red;">: {{productlist.dateExpected}}</td>
              </tr>
              <tr>
                <td>MRP</td>
                <td>: {{productlist.MRP}}</td>
              </tr>
              <tr>
                <td>Franchise Price</td>
                <td>: {{productlist.franchisePrice}}</td>
              </tr>
              <tr>
                <td>Packing</td>
                <td>: {{productlist.packing}}</td>
              </tr>
              <tr>
                <td>HSN Code</td>
                <td>: {{productlist.hsnCode}}</td>
              </tr>
              <tr>
                <td>GST</td>
                <td>: {{productlist.GST}}</td>
              </tr>
              <tr>
                <td>DPCO</td>
                <td>: {{productlist.DPCO}}</td>
              </tr>
              <tr>
                <td>Case Lot</td>
                <td>: {{productlist.caseLot}}</td>
              </tr>
              <tr>
                <td>Category</td>
                <td>: {{productlist.category}}</td>
              </tr>
              <tr>
                <td>Compositions</td>
                <td>: {{productlist.compositions}}</td>
              </tr>
              <tr>
                <td>Comments</td>
                <td>: {{productlist.description}}</td>
              </tr>
            </table>

          </div>
          <div class="clear"></div>
          <div class="c_branch_details_btn_bay">


          </div>
        </div>
      </li>


    </ul>

    </div>
  </div>
</ion-content>