<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      My Orders
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <div>
    <ion-grid>
      <ion-row class="item">
        <ion-col size="1">
          #
        </ion-col>
        <ion-col size="2">
          Order No.
        </ion-col>
        <ion-col size="6">
          Details
        </ion-col>       
        <ion-col size="3">
          Status
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let order of orders;let i = index;" class="item">
        <ion-col size="1">
          {{ i+1 }}
        </ion-col>
        <ion-col size="2">
          {{ order.order_id }}
        </ion-col>
        <ion-col size="6">
        <div style="display:block">Order Date:  {{ order.createdAt }}</div>
         <div style="display:block" *ngIf="order.status == 1">Courier: {{ order.courier }}</div>
         <div style="display:block" *ngIf="order.status == 1">Docket number.:  {{ order.tracking_no }}</div>         
         <div style="display:block" *ngIf="order.status == 1">Docket Date.:  {{ order.docked_date }}</div>         
        </ion-col>      
        <ion-col class="qty" size="3" text-center>
          <ion-badge color="success" *ngIf="order.status == 1">Shipped</ion-badge>
          <ion-badge color="danger" *ngIf="order.status == 0">Not Shipped</ion-badge>
        </ion-col>     
      </ion-row>
    </ion-grid>
    <div padding *ngIf="orders.length == 0">Not found.</div>
  </div>
</ion-content>