.qty_btn
{
    padding: 6px 5px;
    background: #fff;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
}
.c_login_button
{
    width:94%;
    margin:10px;
}
.action_btn
{
    width:34px;   
}
.item
{
    border-bottom:1px #ddd solid;
    background:#fff;
}
ion-col
{
    padding:5px 2px;
    text-align:center;
}
.order_hit
{
    color: green;
    text-align: center;
    margin: 15px;
}
.highlight_item
{
    background:#ddd;
    
}
.c_area_business{width:100%;border-radius:9px;padding:10px;}
.text-left
{
    text-align:left;
}