<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Confirm Your Order
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <ion-grid>
    <ion-row class="item">
      <ion-col size="1">
        #
      </ion-col>
      <ion-col size="3">
        Name
      </ion-col>
      <ion-col size="2">
        Franchise Price
      </ion-col>
      <ion-col size="2">
        Offer Price
      </ion-col>
      <ion-col size="2">
        Qty
      </ion-col>
      <ion-col size="2">
        GST
      </ion-col>
     
    </ion-row>
    <ion-row  class="item">
      <ion-col size="1">
        1.
      </ion-col>
      <ion-col size="3">
        {{ productname }}
      </ion-col>
      <ion-col class="qty" size="2" text-center>
        ₹{{ franchisePrice }}
      </ion-col>
      <ion-col class="qty" size="2" text-center>
        ₹{{ price }}
      </ion-col>
      <ion-col class="qty" size="2" text-center>
        {{ qty}}
      </ion-col>
      <ion-col class="qty" size="2" text-center>
        {{ gst }}%
      </ion-col>
     
    </ion-row>
   <ion-row class="item highlight_item">
      <ion-col size="6">
        Sub Total
      </ion-col>
      <ion-col size="6" class="text-left">
        : ₹{{ subtotal }}
      </ion-col>
    </ion-row>
    <ion-row class="item highlight_item">
      <ion-col size="6">
        Total GST
      </ion-col>
      <ion-col size="6" class="text-left">
        : ₹{{ gstamount }}
      </ion-col>
    </ion-row>
    <ion-row class="item highlight_item">
      <ion-col size="6">
        Grand Total
      </ion-col>
      <ion-col size="6" class="text-left">
        : ₹{{ total }}
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <div padding>
    <button ion-button style="width:100%;" class="c_line_btn" (click)="submit()">Confirm to Book Amount</button>
  </div>
  </ion-content>