<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Visual Aids
    </div>
    <button ion-button class="nav_btn floatRight" (click)="add_doctor()">
      <ion-icon name="add" class="myicon"></ion-icon>
    </button>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content   class="theme_background">
  <ion-list>
    <ion-item *ngFor="let list of lists;let i = index">
      <ion-label>{{i+1}}. {{list.doctor_name}}</ion-label>
      <ion-button slot="end" (click)="openVisuals(list.id,list.doctor_name)">Open</ion-button>
      <ion-button slot="end" style="font-size:20px;margin-left:5px;" color="success" (click)="addVisualAids(list.id,list.doctor_name)">+</ion-button>
      <ion-button slot="end" style="font-size:15px;margin-left:5px;" color="danger" (click)="deleteVisualAids(list.id)">x</ion-button>
    </ion-item>
  
  </ion-list>
  </ion-content>