<ion-header class="nav_home_header themedark">
    <div class="nav_top_header">
      <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
      <div class="nav_header_title floatLeft">
        Offers
      </div>
      
      <div class="clear"></div>
    </div>
  </ion-header>
  <ion-content padding class="theme_background">
    
    <p>Note: For your offer details please contact to your concerned BRM.</p>
  </ion-content>
  