<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      JFC
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <div class="c_business_listing">  
    <div *ngIf="loading" style="text-align:center;">{{loading_message}}</div>
    <ul>
      <li *ngFor="let jfcsummary of jfcsummaries;let i = index" (click)="jfcsummaryfun(jfcsummary.id)">
        <div class="c_list_circle">
        </div>
        <div class="c_list_details width75">
          <h5>{{i+1}}. {{ jfcsummary.product_name }}</h5>
        </div>
        <div class="clear"></div>
      </li>
    </ul>
  </div>
</ion-content>