<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Cart
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">


    <div *ngFor="let cart of carts;let i = index;" class="item">
      <ion-grid>
        <ion-row padding->
          <ion-col size="4">
            {{ i+1 }}. {{ cart.name }}
          </ion-col>
          <ion-col class="qty" size="5" text-center>
            <button (click)="decreaseProductCount(i)" class="c_add_btn" ion-button color="light">
              -
            </button>
            <input type="number" (keyup)="changeQty($event,i)" class="qty_btn" [value]="cart.count">
          
            <button (click)="incrementProductCount(i)" class="c_add_btn" ion-button color="light">
              +
            </button>
          </ion-col>
          <ion-col size="3">
            <span><img src="assets/img/tick.png" class="action_btn" (click)="udpatecart(cart,i)"></span>
            <span><img src="assets/img/close_x.png" class="action_btn" (click)="removecart(cart)"></span>
          </ion-col>
        </ion-row>
      </ion-grid>
     
    </div>
    <div padding *ngIf="carts?.length == 0">Cart is empty.</div>
    <div *ngIf="carts?.length > 0">
      <button ion-button (click)="checkout()" class="c_login_button refresh_btn c_login_center block">Proceed to Checkout</button>
    </div>

    <div padding>
    <p style="color:red">Note:</p>
    <p ><img src="assets/img/tick.png" style="width:30px;vertical-align:middle;"/> : Click to apply the update item.</p >
    <p><img src="assets/img/close_x.png" style="width:30px;vertical-align:middle;"/> : Click to delete the item.</p>
    </div>
</ion-content>