.qty_btn
{
    padding: 6px 2px;
    background: #fff;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
}
.c_login_button
{
    width:94%;
    margin:10px;
}
.action_btn
{
    width:34px;   
}
.item
{
    border-bottom:1px #ddd solid;
    background:#fff;
}
.qty_btn
{
  width:50px;
}