<ion-header class="nav_home_header themedark">
    <div class="nav_top_header">
      <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
      <div class="nav_header_title floatLeft">
        Club Divisions
      </div>    
      <div class="clear"></div>
    </div>
  </ion-header>
  <ion-content class="theme_background">
    <div class="c_business_listing">  
      <div *ngIf="loading" style="text-align:center;">{{loading_message}}</div>
      <ul>
        <li *ngFor="let category of categories;let i = index" (click)="productlist(category.catId,category.catName)">
          <div class="c_list_circle">
          </div>
          <div class="c_list_details width75">
            <h5>{{ category.catName }}</h5>
          </div>
          <div class="clear"></div>
        </li>
      </ul>
    </div>
  </ion-content>