.qty_btn
{
    padding: 6px 5px;
    background: #fff;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
}
.myicon
{
  font-size:27px;
  font-weight:block;
  color:#fff;
}
table.table_product_ist
{
  width:100%;
}
table.table_product_ist td
{
  vertical-align:top;
  width:50%;
}
.top_cart_icon {
  color: #fff;
  position: absolute;
  top: 6px;
  right: 10px;
  border-radius: 100%;
  padding:3px 6px;
  z-index: 1;
}
.qty_btn
{
  width:50px;
}