<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Add Visual's For: {{doctorName}}
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <div class="c_row" padding>    
    <select class="c_sign_input" (change)="getVisualAids($event.target.value)">
      <option value=''>Select Division</option>
      <option *ngFor="let category of categories;let i = index" [value]='category.catId'>{{category.catName}}
      </option>
    </select>

  </div>
  <div *ngIf="mydata != ''" padding>
    <ion-list>
      <ion-item default-item lines="none" (click)="selectMember(entry)" *ngFor="let entry of mydata;">
        <!-- Avatar Image -->
        <ion-avatar slot="start">
          <img src="https://www.solacebiotech.in/sales/includes/uploads/visual_aids/{{entry.image_name}}">
        </ion-avatar>
        <!-- Avatar Title -->
        <ion-label padding-start>
          <h2 text-size-md text-color-primary font-bold text-wrap>{{entry.name}}</h2>
        </ion-label>
        <ion-checkbox *ngIf="!entry.checked" checked></ion-checkbox>
        <ion-checkbox *ngIf="entry.checked"></ion-checkbox>
      </ion-item>
    </ion-list>
 
    <button type="button" ion-button class="c_register_button"  (click)="submitdata()">Submit</button>
  </div>
</ion-content>