<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Confirmation Window:

    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <img src="https://www.solacebiotech.in/app/appbanners/slide5.jpg"/>
  

  <div *ngIf="flag" padding>
    <p><b>Confirmation Window:</b>  </p>
  <ion-grid>
    <ion-row  class="item">
      <ion-col size="6">
        Solmate Name:
      </ion-col>
      <ion-col size="6">
        {{bookingdetail.solmate_name}}
      </ion-col>
    </ion-row>
    <ion-row  class="item">
      <ion-col size="6">
        Company Name:
      </ion-col>
      <ion-col size="6">
        {{bookingdetail.company_name}}
      </ion-col>
    </ion-row>
    <ion-row  class="item">
      <ion-col size="6">
        Your Magic Valentine Name:
      </ion-col>
      <ion-col size="6">
        {{bookingdetail.productName}}
      </ion-col>
    </ion-row>
   
    <ion-row  class="item">
      <ion-col size="6">
        Your Projected Monthly Requirement Qty in Strips/Bottles:
      </ion-col>
      <ion-col size="6">
        {{bookingdetail.requirement}}
      </ion-col>
    </ion-row>
    <ion-row  class="item">
      <ion-col size="6">
        Your Forecast Annual Requirement Qty in Strips/Bottles:
      </ion-col>
      <ion-col size="6">
        {{ 12*bookingdetail.requirement}}
      </ion-col>
    </ion-row>
    <ion-row  class="item">
      <ion-col size="6">
        Franchise Price of Your Monthly Valentine: 
      </ion-col>
      <ion-col size="6">
        Rs.{{bookingdetail.franchisePrice}}
      </ion-col>
    </ion-row>
    <ion-row  class="item">
      <ion-col size="6">
        Total Amount of Invoice (Annual): 
      </ion-col>
      <ion-col size="6">
        Rs.{{ 12*multifun(bookingdetail.requirement,bookingdetail.franchisePrice)}}
      </ion-col>
    </ion-row>
    <ion-row  class="item">
      <ion-col size="6">
        Booking Amount to Deposit (25%):
      </ion-col>
      <ion-col size="6" style="color:red;font-size:20px;">
        Rs.{{myperfun(bookingdetail.requirement,bookingdetail.franchisePrice)}}
      </ion-col>
    </ion-row>
    </ion-grid>

  </div>
  </ion-content>