<ion-app>
    <ion-split-pane when="(min-width: 1600px)">
        <ion-menu contentId="menu-content">
            <div class="c_sidemenu_wrapper">
                <div menuClose class="c_sidemenu_top">
                    <div class="c_profile_pic">
                    </div>
                    <h5>{{ username }}</h5>
                    <p>{{ useremail }}</p>
                </div>
                <div class="c_sidemenu_list">
                    <ul>                       
                        <li (click)="profile()">My Profile</li>
                        <li><a href="https://play.google.com/store/apps/details?id=com.solaceworld.app" style="color:#5f5f5f;text-decoration:none;" target="_blank">Update App</a></li>
                        <li (click)="products()">Products</li>
                        <li (click)="cart()">Cart</li>
                        <li (click)="myorders()">My Orders</li>
                        <li (click)="offers()">Offers</li>
                        <li (click)="notifications()">Notifications</li>
                        <li (click)="aboutus()">About Us</li>
                        <li (click)="contactus()">Contact Us</li>
                        <li *ngIf="logoutbutton" (click)="logout()">Logout</li>
                        <li *ngIf="!logoutbutton" (click)="login()">Login</li>
                    </ul>
                </div>
            </div>
        </ion-menu>
        <ion-router-outlet id="menu-content" main></ion-router-outlet>
    </ion-split-pane>
</ion-app>