<ion-header class="nav_home_header themedark">
    <div class="nav_top_header">
      <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
      <div class="nav_header_title floatLeft">
        Navratna/Panchratna Claim Form Submission 
      </div>    
      <div class="clear"></div>
    </div>
  </ion-header>
  <ion-content class="theme_background">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <select class="c_select_business" [(ngModel)]="date">
            <ng-container *ngFor="let md of monthsdata">
            <option [value]='md.date' >{{md.month_name}}</option>
          </ng-container>
          </select>
        </ion-col>
        <ion-col size="4">
          <button ion-button (click)="getmonthwise()" class="c_login_button refresh_btn block">View Details</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="item" *ngIf="lists.length != 0">
        <ion-col size="1" text-center>
          #
        </ion-col>
        <ion-col size="7" text-center>
         Details
        </ion-col>
          
        <ion-col size="4" text-center>
          Action
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let list of lists;let i = index;" class="item">
        <ion-col size="1" text-center>
          {{ i+1 }}.
        </ion-col>
        <ion-col size="7">
          <p><b>Product Name:</b> {{ list.productName }}</p>
          <p><b>Current Month Qty:</b> {{ list.cur_qty }}</p>
          <p><b>Last Month Qty:</b> {{ list.last_qty }}</p>
          <p><b>Outstanding:</b> ₹{{ list.outstanding }}</p>
          <p><b>Status:</b> <ion-badge color="success" *ngIf="list.status == 1">Eligible</ion-badge>
          <ion-badge color="danger" *ngIf="list.status == 0">Not Eligible</ion-badge></p>
        </ion-col>
     
        <ion-col size="4" text-center>
          <ion-button *ngIf="list.status == 1 && list.submitted == 0" color="primary" (click)="clubformSubmit(list)">Submit <br/>Claim Form</ion-button>
          <ion-button *ngIf="list.status == 1 && list.submitted == 1" color="success">Applied</ion-button>
        </ion-col> 
      </ion-row>
      <ion-row *ngIf="lists.length == 0">
        No Record Found
      </ion-row>
    </ion-grid>
  </ion-content>