<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Visuals : {{doctorName}}
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_background">
  <ion-slides >

    <ion-slide *ngFor="let entry of visuals">
      <ion-card class="mycard">
        <img src="https://www.solacebiotech.in/sales/includes/uploads/visual_aids/{{entry.image_name}}">
        <h4 align="center">{{entry.name}}</h4>
      </ion-card>
    </ion-slide>
    </ion-slides>
  </ion-content>