<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Help
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding class="theme_background">
  <ion-card>
    <img src="assets/img/banner3.png">
  </ion-card>
  <ion-card padding>
    <h5>HOW TO USE "refer2happiness" APP</h5>
    
    <p>1. Download the refer2happiness. </p>
    <p>2. Click on register now option. </p>
    <p>3. Enter your details and click on register. </p>
    <p>4. After clicking on register you will receive a SMS & Email. Product list link will be attached. You can
      download the product list from the text message you have received and the same download link you can find in your
      Email also. </p>
    <p>5. Clicking on My profile. You can verify your profile or make updations in the profile.</p>
    <p>6. Click on "Refer & Earn", to know how to refer, on giving any referral, What rewards you will get? </p>
    <p>7. To share the referral, click on referral, then click on Add referral, enter the details of referral. </p>
    <p>8. Referral details will be shown in referral list. You can check latest stage of referral click on particular
      referral name to view their details & status. </p>
    <p>9. To know company details click on "About Us". </p>
  </ion-card>
</ion-content>