ion-content {
    --background: var(--ion-background-color, transparent);
    }
    ion-content .inner-scroll
    {
        padding:0px;
    }
    .myicon
    {
      width:100%;
      font-size:50px;
      color:#3b6597;
    }
    ion-grid
    {
      padding:0px;
    }
    ion-col
    {
      padding: 20px 10px;
      border-bottom: 1px #f4f4f4 solid;
      border-right: 1px #f4f4f4 solid;
    }
    ion-segment-button {
        min-height: 70px;
        line-height: 1.5rem !important;
    
        padding-left: 0px;
        padding-right: 0px;
    
      }
      h6 {
        font-size: 13px;
        text-align: center;
        margin:0px;
    }
      .mycard
      {
        margin-left:0px;
        margin-right:0px;
          margin-top:10px;
          background:#fff;
          border:1px #f4f4f4 solid;
          margin-top:0px;
      }
      ion-card
      {
        margin-left:0px;
        margin-right:0px;
          margin-top:10px;
          border-radius:0px;
          background:#fff;
      }

      ion-card-title
      {
          margin-top:5px;
          font-size:20px;
          margin-bottom:10px;
      }
      ion-card-header
      {
        padding-bottom:0px;
      }
      ion-card-content
      {
          padding-top:0px;
      }

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fff;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: fff;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: fff;
      }
      .notify_btn
      {
        font-size:30px;
        color:#fff;
      }
      .contact_no
      {
        background: #3b6597;
        padding: 14px;
        color: #fff;
        font-size: 19px;
      }
      .top_cart_icon {
        color: #fff;
        position: absolute;
        top: 6px;
        right: 10px;
        border-radius: 100%;
        padding:3px 6px;
        z-index:1;
      }
      .myicon1
      {
        width: 100%;

font-size: 30px;

color: #fff;
      }