<ion-header id="content1" class="nav_home_header themedark">
  <div class="nav_top_header">
    <ion-menu-button ion-button class="nav_btn nav_menu floatLeft" menuToggle></ion-menu-button>
    <div class="nav_header_title floatLeft">
      Solace World
    </div>
    <button ion-button class="nav_btn floatRight" (click)="cart()">
      <ion-badge class="top_cart_icon">{{cartCount}}</ion-badge>
      <ion-icon class="myicon1" name="cart"></ion-icon>
    </button>
    <div class="clear"></div>
  </div>
</ion-header>


<ion-content class="theme_background">
  <div class="c_home_main">
    <ion-slides autoplay="2000" [options]="slideOptsOne" class="slideroption" pager="true" loop="true" speed="300">

      <ion-slide>
        <ion-card class="mycard">
          <img src="https://www.solacebiotech.in/app/appbanners/slide1.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="mycard">
          <img src="https://www.solacebiotech.in/app/appbanners/slide2.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="mycard">
          <img src="https://www.solacebiotech.in/app/appbanners/slide3.jpg">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="mycard">
          <img src="https://www.solacebiotech.in/app/appbanners/slide4.jpg">
        </ion-card>
      </ion-slide>     
    </ion-slides>

    <div padding style="padding-top:0px;margin-top:0px;">
      <ion-card color="primary" *ngIf="app_version != latest_version" padding>
        <a href="https://play.google.com/store/apps/details?id=com.solaceworld.app" target="_blank" style="color:#5f5f5f;text-decoration:none;color:white;">Update Latest Version of Solace App</a>
      </ion-card>

      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col (click)="profile()" *ngIf="!registration">
              <ion-icon name="contact" class="myicon"></ion-icon>
              <h6>My Profile</h6>
            </ion-col>
          
            <ion-col (click)="login()" *ngIf="registration">
              <ion-icon name="lock" class="myicon"></ion-icon>
              <h6>Login</h6>
            </ion-col>
            <ion-col (click)="products()">
              <ion-icon name="list-box" class="myicon"></ion-icon>
              <h6>Products</h6>
            </ion-col>
            <ion-col (click)="cart()">
              <ion-icon name="cart" class="myicon"></ion-icon>
              <h6>Cart</h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col (click)="myorders()">
              <ion-icon name="checkmark-circle-outline" class="myicon"></ion-icon>
              <h6>My Orders</h6>
            </ion-col>
            <ion-col (click)="offers()">
              <ion-icon name="gift" class="myicon"></ion-icon>
              <h6>Offers</h6>
            </ion-col>
            <ion-col (click)="notifications()">
              <ion-icon name="notifications" class="myicon"></ion-icon>
              <h6>Notifications</h6>
            </ion-col>
          </ion-row>
          <ion-row>

          
            <ion-col (click)="sentizer()">
              <ion-icon name="beaker" class="myicon"></ion-icon> 
              <h6>Zermero Hand Sanitizer</h6>
            </ion-col>
            <ion-col (click)="contactus()">
              <ion-icon name="mail" class="myicon"></ion-icon>
              <h6>Contact Us</h6>
            </ion-col>
            <ion-col (click)="visualaids()">
                <ion-icon name="leaf" class="myicon"></ion-icon>
                <h6>Visual Aids</h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col (click)="aboutus()">
              <ion-icon name="book" class="myicon"></ion-icon>
              <h6>About Us</h6>
            </ion-col>
            <ion-col >
              <div>
                <ion-icon name="briefcase" (click)="jfc()" class="myicon"></ion-icon>
                <h6>JFC</h6>
              </div>
            </ion-col>
            <ion-col (click)="clubdivisions()">
              <div>
                <ion-icon name="ios-locate" class="myicon"></ion-icon>
                <h6>Club Membership</h6>
              </div>
            </ion-col>
            
            
          </ion-row>
          <ion-row>
            <ion-col (click)="booking()" style="text-align: center;">
              <img src="../assets/img/fd.png" style="width:50px;margin:0px auto;margin-bottom:10px;"/> 
              <h6>Profit 1.0 Booking</h6>
            </ion-col>
            <ion-col (click)="helpyoudeal()" style="text-align: center;">
              <img src="../assets/img/hyd.png" style="width:50px;margin:0px auto;margin-bottom:10px;"/> 
              <h6>Help You Deal</h6>
            </ion-col>
            <ion-col>
              
            </ion-col>
            
            
          </ion-row>
        </ion-grid>
      </ion-card>


    </div>


  </div>

<!-- 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="OpenFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="OpenTwitter()">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="OpenLinkedIn()">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> 
-->

</ion-content>