<ion-header class="nav_home_header themedark">
    <div class="nav_top_header">
      <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
      <div class="nav_header_title floatLeft">
        Notifications
      </div>      
      <div class="clear"></div>
    </div>
  </ion-header>
  <ion-content class="theme_background">
      <div *ngIf="loading" style="text-align:center;">Loading...</div>
      <div class="c_notification">
          <ul>
            <li *ngFor = "let notification of notifications;" (click)="onItemClickFunc(notification.id)">
              <h5>{{ notification.heading }}</h5>
              <p>{{ notification.message}}</p>
              <div class="c_notification_close">
                  <p>{{ notification.created}}</p>
              </div>
            </li>
                 
          </ul>
          <div padding *ngIf="notifications.length == 0">Not found.</div>
        </div>
      </ion-content>
      