<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Profit 1.0 Booking
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding class="theme_background">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="c_sign_wrap">
      <img src="https://www.solacebiotech.in/app/appbanners/slide5.jpg"/>
      <ion-card>
        <ion-card-content>
          <div class="c_sign_form">
            <div *ngIf="loading" style="text-align:center;">{{loading_message}}</div>
            <h2 style="color:black;text-align:center;">Confirm Your Booking</h2>
            <hr/>
            <div class="c_row">
              <label>Solmate Name:</label>
              <input class="c_sign_input" formControlName="solmate_name" placeholder="Solmate name">
              <div *ngIf="submitted && f.solmate_name?.errors" class="invalid-feedback">
                <div *ngIf="f.solmate_name?.errors.required">Solmate Name is required</div>
              </div>
            </div>

            <div class="c_row">
              <label>Company Name:</label>
              <input class="c_sign_input" formControlName="company_name" placeholder="Company name">
              <div *ngIf="submitted && f.company_name?.errors" class="invalid-feedback">
                <div *ngIf="f.company_name?.errors.required">Company Name is required</div>
              </div>
            </div>


            <div class="c_row">
              <label>Email Id:</label>
              <input class="c_sign_input" formControlName="email" placeholder="Email Address">
              <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
                <div *ngIf="f.email?.errors.required">Email is required</div>
              </div>
              <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
                <div *ngIf="f.email?.errors.pattern">Email in Invalid</div>
              </div>
            </div>
           
            <div class="c_row">
              <label>Select Your Magic Valentine from Navratna/Panchratna Product Range:</label>
              <select class="c_sign_input" (change)="checkValue($event.target.value)" formControlName="category_id">
                <option value="">Select Division</option>               
                <option *ngFor="let category of categories" [value]='category.catId'>{{category.catName}}</option>               
              </select>
            
              <select class="c_sign_input"  formControlName="product_range" style="margin-top:10px;">
                <option value="">Select Product</option>               
                <option *ngFor="let product of products" [value]='product.id'>{{product.productName}}</option>               
              </select>
              <div *ngIf="submitted && f.category_id?.errors" class="invalid-feedback">
                <div *ngIf="f.category_id?.errors.required">Category is required</div>
              </div>

              <div *ngIf="submitted && f.product_range?.errors" class="invalid-feedback">
                <div *ngIf="f.product_range?.errors.required">Product Range</div>
              </div>
            </div>
           

            <div class="c_row">
              <label>Enter the Projected Monthly Requirement of Your Magic Valentine in Strips/Bottles as per your Forecast:</label>
              <input class="c_sign_input" formControlName="requirement" placeholder="Enter Quantity">
              <div *ngIf="submitted && f.requirement?.errors" class="invalid-feedback">
                <div *ngIf="f.requirement?.errors.required">Requirement is required</div>
              </div>            
            </div>


            <div class="c_row">
              <button type="submit" ion-button class="c_register_button">Submit</button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </form>
</ion-content>