<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack($event)"></button>
    <div class="nav_header_title floatLeft">
      Register Now
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content padding class="theme_background">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="c_sign_wrap">
      <div class="c_reg_banner">
        <img src="assets/img/solace-logo.png">
      </div>
      <ion-card>
        <ion-card-content>
          <div class="c_sign_form">
            <div *ngIf="loading" style="text-align:center;">{{loading_message}}</div>
            <div class="c_row">
              <input class="c_sign_input" formControlName="full_name" placeholder="Full Name">
              <div *ngIf="submitted && f.full_name?.errors" class="invalid-feedback">
                <div *ngIf="f.full_name?.errors.required">Full Name is required</div>
              </div>
            </div>

            <div class="c_row">
              <input class="c_sign_input" formControlName="phone" placeholder="Mobile">
              <div *ngIf="submitted && f.phone?.errors" class="invalid-feedback">
                <div *ngIf="f.phone?.errors.required">Mobile is required</div>
              </div>
            </div>
            <div class="c_row">
              <input class="c_sign_input" formControlName="email" placeholder="Email">
              <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
                <div *ngIf="f.email?.errors.required">Email is required</div>
              </div>
              <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
                <div *ngIf="f.email?.errors.pattern">Email in Invalid</div>
              </div>
            </div>
            <div class="c_row">
              <input class="c_sign_input" formControlName="city" placeholder="City">
              <div *ngIf="submitted && f.city?.errors" class="invalid-feedback">
                <div *ngIf="f.city?.errors.required">City</div>
              </div>
            </div>
            <div class="c_row">
              <select class="c_sign_input"  formControlName="state">
                <option value="">Select State</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi">Delhi</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kenmore">Kenmore</option>
                <option value="Kerala">Kerala</option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Narora">Narora</option>
                <option value="Natwar">Natwar</option>
                <option value="Odisha">Odisha</option>
                <option value="Paschim Medinipur">Paschim Medinipur</option>
                <option value="Pondicherry">Pondicherry</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="Vaishali">Vaishali</option>
                <option value="West Bengal">West Bengal</option>
              </select>
              <div *ngIf="submitted && f.state?.errors" class="invalid-feedback">
                <div *ngIf="f.state?.errors.required">State</div>
              </div>
            </div>
            <div class="c_row">
              <select class="c_sign_input" (change)="onchanged($event.target.value)">
                <option value=''>Looking For</option>
                <option value='1'>Pharma Franchisee</option>
                <option value='2'>Third Party Manufacturing</option>
              </select>
            </div>
            <div class="c_row">
              <div *ngIf="loading2" style="text-align:center;">Loading...</div>
              <select class="c_sign_input" formControlName="division">
                <option value=''>Select Division</option>
                <option *ngFor="let category of categories;let i = index" [value]='category.catId'>{{category.catName}}
                </option>
              </select>
              <div *ngIf="submitted && f.division?.errors" class="invalid-feedback">
                <div *ngIf="f.division?.errors.required">Division</div>
              </div>
            </div>

            <div class="c_row">
              <input type="password" class="c_sign_input" formControlName="password" placeholder="Password">
              <div *ngIf="submitted && f.password?.errors" class="invalid-feedback">
                <div *ngIf="f.password?.errors.required">Password is required</div>
              </div>
              <div *ngIf="submitted && f.password?.errors" class="invalid-feedback">
                <div *ngIf="f.password?.errors.minlength">Password must be greater then 8 characters</div>
              </div>
            </div>


            <div class="c_row">
              <button type="submit" ion-button class="c_register_button">Register</button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </form>
</ion-content>